#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    height: 100%;
    background: url("./images/hands.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading {
    color: white;
    font-size: calc(2rem + 2vmin);
    font-family: meno-banner,serif;
    font-weight: 700;
    font-style: normal;
}

.card {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2% 2% 4% 2%;
}

.button {
    padding: 1.2vmin 2.2vmin;
    color: white;
    font-size: calc(1rem + 1vmin);
    font-family: meno-banner,serif;
    font-weight: 700;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1000rem;
    border:  0.1rem solid white;
    cursor: pointer;
    transition: background-color, color 200ms ease-in-out;
}
.button:hover {
    color: hsl(9, 44%, 69%);
    background-color: white;
}